{% extends "base.html" %}
{% load static %}
{% block body %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Total', 'Number of Proposals'],
          ['Begineer',     {{ begineer }}],
          ['Intermediate',      {{ intermediate }}],
          ['Advanced',  {{ advanced }}]
        ]);

        var options = {
          title: 'Proposals Statistics'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Beginner', 'Number of Proposals'],
          ['Core Python',     {{beginnerchart.0}}],
          ['Embedded Python',      {{beginnerchart.1}}],
          ['Infrastructure',  {{beginnerchart.2}}],
          ['Scientific Computing', {{beginnerchart.3}}],
          ['Software Development Tools',    {{beginnerchart.4}}],
          ['Web Development', {{beginnerchart.5}}],
          ['Workshops', {{beginnerchart.6}}]
        ]);

        var options = {
          title: 'Beginner Proposals Statistics',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d1'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Intermediate', 'Number of Proposals'],
          ['Core Python',     {{intermediatechart.0}}],
          ['Embedded Python',      {{intermediatechart.1}}],
          ['Infrastructure',  {{intermediatechart.2}}],
          ['Scientific Computing', {{intermediatechart.3}}],
          ['Software Development Tools',    {{intermediatechart.4}}],
          ['Web Development', {{intermediatechart.5}}],
          ['Workshops', {{intermediatechart.6}}]
        ]);

        var options = {
          title: 'Intermediate Proposals Statistics',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d2'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Advanced', 'Number of Proposals'],
          ['Core Python',     {{advancedchart.0}}],
          ['Embedded Python',      {{advancedchart.1}}],
          ['Infrastructure',  {{advancedchart.2}}],
          ['Scientific Computing', {{advancedchart.3}}],
          ['Software Development Tools',    {{advancedchart.4}}],
          ['Web Development', {{advancedchart.5}}],
          ['Workshops', {{advancedchart.6}}]
        ]);

        var options = {
          title: 'Advanced Proposals Statistics',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d3'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ bcore|safe }});

        var options = {
          title: 'Core Python (Beginner)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ bembedded|safe }});

        var options = {
          title: 'Embedded Python (Beginner)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div1'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ binfra|safe }});

        var options = {
          title: 'Infrastructure (Beginner)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ bscientific|safe }});

        var options = {
          title: 'Scientific Computing (Beginner)',
          hAxis: {title: 'Speaker', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div3'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ bsoftware|safe }});

        var options = {
          title: 'Software Development Tools (Beginner)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div4'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ bweb|safe }});

        var options = {
          title: 'Web Development (Beginner)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div5'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ bwork|safe }});

        var options = {
          title: 'Workshops (Beginner)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div6'));
        chart.draw(data, options);
      }
    </script>








    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ icore|safe }});

        var options = {
          title: 'Core Python (Intermediate)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div7'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ iembedded|safe }});

        var options = {
          title: 'Embedded Python (Intermediate)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div8'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ iinfra|safe }});

        var options = {
          title: 'Infrastructure (Intermediate)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div9'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ iscientific|safe }});

        var options = {
          title: 'Scientific Computing (Intermediate)',
          hAxis: {title: 'Speaker', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div10'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ isoftware|safe }});

        var options = {
          title: 'Software Development Tools (Intermediate)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div11'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ iweb|safe }});

        var options = {
          title: 'Web Development (Intermediate)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div12'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ iwork|safe }});

        var options = {
          title: 'Workshops (Intermediate)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div13'));
        chart.draw(data, options);
      }
    </script>






    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ acore|safe }});

        var options = {
          title: 'Core Python (Advanced)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div14'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ aembedded|safe }});

        var options = {
          title: 'Embedded Python (Advanced)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div15'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ ainfra|safe }});

        var options = {
          title: 'Infrastructure (Advanced)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div16'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ ascientific|safe }});

        var options = {
          title: 'Scientific Computing (Advanced)',
          hAxis: {title: 'Speaker', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div17'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ asoftware|safe }});

        var options = {
          title: 'Software Development Tools (Advanced)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div18'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ aweb|safe }});

        var options = {
          title: 'Web Development (Advanced)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div19'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ awork|safe }});

        var options = {
          title: 'Workshops (Advanced)',
          hAxis: {title: 'Speakers', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div20'));
        chart.draw(data, options);
      }
    </script>









  <div class="container marketing">
    <div class="row">
    	<div class="col-lg-12">
          <h4>Number of Proposals</h4>
    	</div><!-- /.col-lg-12 -->
    </div>
    <hr>
    <div class="row featurette">
    	<div class="col-md-6">
          <div class="list-group">
            <li class="list-group-item"><b>Total Number of Proposals = {{total}}<b></li>
            <li class="list-group-item"><b>Number of Proposals in Begineer level = {{begineer}}</b></li>
            <li class="list-group-item"><b>Number of Proposals in Intermediate level = {{intermediate}}</b></li>
            <li class="list-group-item"><b>Number of Proposals in Advanced level = {{advanced}}</b></li>
          </div>
      </div>
      <div class="col-md-6">
        <p id="piechart" style="width: 100%; height: 15em;"></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
          <h4>Section Wise Proposals</h4>
      </div><!-- /.col-lg-12 -->
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
          <p id="piechart_3d1" style="width: 100%; height: 15em;"></p>
        </div>
        <div class="col-md-4">
          <p id="piechart_3d2" style="width: 100%; height: 15em;"></p>
        </div>
        <div class="col-md-4">
          <p id="piechart_3d3" style="width: 100%; height: 15em;"></p>
        </div>
    </div>
    <hr>

  <div class="row">
    <div class="col-lg-12">
      <h3 style="color:#3232CD"><i><b>BEGINNER</b></i></h3>
      <hr>
    </div><!-- /.col-lg-6 -->
  </div>


  <!-- Beginners (Core Python) -->
  {% if corebeginners %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Core Python</h4>
      <div class="list-group">
        {% for corebeginner in corebeginners %}
        <a href={{ corebeginner.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ corebeginner.1 }}</h4>
          <h5 class="list-group-item-heading">{{ corebeginner.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ corebeginner.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Beginners (Core Python) -->


  <!-- Beginners (Embedded Python) -->
  {% if embeddedbeginners %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Embedded Python</h4>
      <div class="list-group">
        {% for embeddedbeginner in embeddedbeginners %}
        <a href={{ embeddedbeginner.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ embeddedbeginner.1 }}</h4>
          <h5 class="list-group-item-heading">{{ embeddedbeginner.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ embeddedbeginner.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div1" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Beginners (Embedded Python) -->


  <!-- Beginners (Infrastructure) -->
  {% if infrabeginners %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Infrastructure</h4>
      <div class="list-group">
        {% for infrabeginner in infrabeginners %}
        <a href={{ infrabeginner.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ infrabeginner.1 }}</h4>
          <h5 class="list-group-item-heading">{{ infrabeginner.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ infrabeginner.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div2" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Beginners (Infrastructure) -->


  <!-- Beginners (Scientific Computing) -->
  {% if scibeginners %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Scientific Computing</h4>
      <div class="list-group">
        {% for scibeginner in scibeginners %}
        <a href={{ scibeginner.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ scibeginner.1 }}</h4>
          <h5 class="list-group-item-heading">{{ scibeginner.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ scibeginner.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div3" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Beginners (Scientific Computing) -->


  <!-- Beginners (Software Development Tools) -->
  {% if softbeginners %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Software Development Tools</h4>
      <div class="list-group">
        {% for softbeginner in softbeginners %}
        <a href={{ softbeginner.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ softbeginner.1 }}</h4>
          <h5 class="list-group-item-heading">{{ softbeginner.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ softbeginner.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div4" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Beginners (Software Development Tools) -->


  <!-- Beginners (Web Development) -->
  {% if webbeginners %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Web Development</h4>
      <div class="list-group">
        {% for webbeginner in webbeginners %}
        <a href={{ webbeginner.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ webbeginner.1 }}</h4>
          <h5 class="list-group-item-heading">{{ webbeginner.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ webbeginner.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div5" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Beginners (Web Development) -->


  <!-- Beginners (Workshops) -->
  {% if workbeginners %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Workshops</h4>
      <div class="list-group">
        {% for workbeginner in workbeginners %}
        <a href={{ workbeginner.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ workbeginner.1 }}</h4>
          <h5 class="list-group-item-heading">{{ workbeginner.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ workbeginner.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div6" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Beginners (Workshops) -->


  <div class="row">
    <div class="col-lg-12">
      <h3 style="color:#3232CD"><i><b><em>INTERMEDIATE</em></b></i></h3>
      <hr>
    </div><!-- /.col-lg-6 -->
  </div>


  <!-- Intermediate (Core Python) -->
  {% if coreintermediates %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Core Python</h4>
      <div class="list-group">
        {% for coreintermediate in coreintermediates %}
        <a href={{ coreintermediate.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ coreintermediate.1 }}</h4>
          <h5 class="list-group-item-heading">{{ coreintermediate.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ coreintermediate.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div7" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Intermediate (Core Python) -->


  <!-- Intermediate (Embedded Python) -->
  {% if embeddedintermediates %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Embedded Python</h4>
      <div class="list-group">
        {% for embeddedintermediate in embeddedintermediates %}
        <a href={{ embeddedintermediate.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ embeddedintermediate.1 }}</h4>
          <h5 class="list-group-item-heading">{{ embeddedintermediate.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ embeddedintermediate.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div8" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Intermediate (Embedded Python) -->


  <!-- Intermediate (Infrastructure) -->
  {% if infraintermediates %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Infrastructure</h4>
      <div class="list-group">
        {% for infraintermediate in infraintermediates %}
        <a href={{ infraintermediate.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ infraintermediate.1 }}</h4>
          <h5 class="list-group-item-heading">{{ infraintermediate.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ infraintermediate.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div9" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Intermediate (Infrastructure) -->


  <!-- Intermediate (Scientific Computing) -->
  {% if sciintermediates %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Scientific Computing</h4>
      <div class="list-group">
        {% for sciintermediate in sciintermediates %}
        <a href={{ sciintermediate.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ sciintermediate.1 }}</h4>
          <h5 class="list-group-item-heading">{{ sciintermediate.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ sciintermediate.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div10" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Intermediate (Scientific Computing) -->


  <!-- Intermediate (Software Development Tools) -->
  {% if softintermediates %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Software Development Tools</h4>
      <div class="list-group">
        {% for softintermediate in softintermediates %}
        <a href={{ softintermediate.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ softintermediate.1 }}</h4>
          <h5 class="list-group-item-heading">{{ softintermediate.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ softintermediate.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div11" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Intermediate (Software Development Tools) -->


  <!-- Intermediate (Web Development) -->
  {% if webintermediates %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Web Development</h4>
      <div class="list-group">
        {% for webintermediate in webintermediates %}
        <a href={{ webintermediate.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ webintermediate.1 }}</h4>
          <h5 class="list-group-item-heading">{{ webintermediate.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ webintermediate.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div12" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Intermediate (Web Development) -->


  <!-- Intermediate (Workshops) -->
  {% if workintermediates %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Workshops</h4>
      <div class="list-group">
        {% for workintermediate in workintermediates %}
        <a href={{ workintermediate.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ workintermediate.1 }}</h4>
          <h5 class="list-group-item-heading">{{ workintermediate.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ workintermediate.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div13" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Intermediate (Workshops) -->


  <div class="row">
    <div class="col-lg-12">
      <h3 style="color:#3232CD"><i><b><em>ADVANCED</em></b></i></h3>
      <hr>
    </div><!-- /.col-lg-6 -->
  </div>



  <!-- Advanced (Core Python) -->
  {% if coreadvances %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Core Python</h4>
      <div class="list-group">
        {% for coreadvance in coreadvances %}
        <a href={{ coreadvance.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ coreadvance.1 }}</h4>
          <h5 class="list-group-item-heading">{{ coreadvance.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ coreadvance.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div14" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Intermediate (Core Python) -->


  <!-- Advanced (Embedded Python) -->
  {% if embeddedadvances %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Embedded Python</h4>
      <div class="list-group">
        {% for embeddedadvance in embeddedadvances %}
        <a href={{ embeddedadvance.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ embeddedadvance.1 }}</h4>
          <h5 class="list-group-item-heading">{{ embeddedadvance.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ embeddedadvance.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div15" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Advanced (Embedded Python) -->


  <!-- Advanced (Infrastructure) -->
  {% if infraadvances %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Infrastructure</h4>
      <div class="list-group">
        {% for infraadvance in infraadvances %}
        <a href={{ infraadvance.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ infraadvance.1 }}</h4>
          <h5 class="list-group-item-heading">{{ infraadvance.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ infraadvance.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div16" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Advanced (Infrastructure) -->


  <!-- Advanced (Scientific Computing) -->
  {% if sciadvances %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Scientific Computing</h4>
      <div class="list-group">
        {% for sciadvance in sciadvances %}
        <a href={{ sciadvance.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ sciadvance.1 }}</h4>
          <h5 class="list-group-item-heading">{{ sciadvance.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ sciadvance.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div17" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Advanced (Scientific Computing) -->


  <!-- Advanced (Software Development Tools) -->
  {% if softadvances %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Software Development Tools</h4>
      <div class="list-group">
        {% for softadvance in softadvances %}
        <a href={{ softadvance.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ softadvance.1 }}</h4>
          <h5 class="list-group-item-heading">{{ softadvance.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ softadvance.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div18" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Advanced (Software Development Tools) -->


  <!-- Advanced (Web Development) -->
  {% if webadvances %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Web Development</h4>
      <div class="list-group">
        {% for webadvance in webadvances %}
        <a href={{ webadvance.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ webadvance.1 }}</h4>
          <h5 class="list-group-item-heading">{{ webadvance.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ webadvance.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div19" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Advanced (Web Development) -->


  <!-- Advanced (Workshops) -->
  {% if workadvances %}
  <div class="row">
    <div class="col-lg-6">
      <h4>Workshops</h4>
      <div class="list-group">
        {% for workadvance in workadvances %}
        <a href={{ workadvance.5 }} target="blank" class="list-group-item">
          <h4 class="list-group-item-heading">{{ workadvance.1 }}</h4>
          <h5 class="list-group-item-heading">{{ workadvance.0 }}</h5>
          <h6 class="list-group-item-text text-muted">Applied on - {{ workadvance.4 }}</h6>
        </a>
        {% endfor %}
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <p id="chart_div20" style="width: 100%; height: 20em;"></p>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endif %}
  <!-- End of Advanced (Workshops) -->

<br><br><br>



</div>
{% endblock %}
